[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/DGtal"]
	path = deps/DGtal
	url = https://github.com/DGtal-team/DGtal.git
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "deps/cgal"]
	path = deps/cgal
	url = https://github.com/CGAL/cgal.git
